---
---

@import "{{ site.theme }}";
body {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  box-shadow: 0px 0px 20px black;
}

p {
  padding: 5px;
  border-style: hidden;
  text-shadow: 1px 1px 1px white;
}

#blurbox {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  align-content: center;
}
